@model ToolsManagementSystem.Models.Department

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Department</h4>
    <hr />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)

    @if (User.IsInRole("SuperAdmin"))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Code)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DeptCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DeptCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DeptCode)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Code)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DeptCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DeptCode, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.DeptCode)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(model => model.Approver, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Approver, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Approver)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ApproverPosition, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ApproverPosition, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ApproverPosition)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Approver2, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Approver2, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Approver2)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Approver2Position, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Approver2Position, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Approver2Position)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
